django
django-markupfield
# Core testing framework
pytest
feedparser


# Coverage reporting (optional, useful for SonarQube)
coverage

# Linting and style checks
flake8
pylint



# Common libraries often used in Python projects
requests
